script.
    var cities = !{JSON.stringify(event.cities)}
    var attractions = !{JSON.stringify(event.attractions)}
if(currentCatalog)
    script.
        var catalog = !{JSON.stringify(currentCatalog)}
else
    script.        
        var catalog = null
        
+sezon_type_next(event)
    .content-of-event
        .container
            .row
                .left-col
                    .padding-content-left 
                        .more-padding
                            .image-icon
                                img(src=event.image alt="" class="img-fluid")
                            .content-data 
                                .content-label.label-color Opis:
                                .content-text !{event.longDesc}
                        include ./small-event-gallery.pug


                .right-col
                    .padding-content-right 
                        if(event.eventType=='template' && event.eventType!='organize')
                            .event-title
                                h2.event-title #{event.name}
                            .date-area
                                each d in event.days
                                    span.days-count #{d.daysNumber} dni
                                span.date-area-str-muted wybrany przez klienta
                        else
                            .event-title-price        
                                .col-title
                                    h2.event-title #{event.name}
                                .col-price
                                    span.price-span #{eventBase.priceBrutto} 
                                        small.sufix-p zł/os    
                            .date-area
                                span.days-count #{event.daysTotal} dni
                                +date_area_string(event.startAt,event.endAt,moment)

                        .region-row
                            .region-label
                                | Region:
                            .regions
                                each r in event.regions
                                    span.region-badge #{r.name}
                        .city-row
                            .city-label
                                | Miasta:
                            .cities
                                each r in event.cities
                                    span.city-badge #{r.name}
                        .attraction-row
                            .attraction-label
                                | Atrakcje:
                            .attractions
                                each r in event.attractions
                                    span.attraction-badge #{r.name}
                        .theme-row
                            .theme-label
                                | Tematyka:
                            .themes
                                each r in event.themes
                                    span.theme-badge #{r.name}
                        .map-row
                            .map-col
                                app-root

            .event-bottom.full-event     
                .catalog-number
                    .number-c
                        span.label-nr numer katalogowy:
                        span.catalog-badge #{event.number} 


script(src='/ngmap/runtime-es2015.js' type='module')
script(src='/ngmap/polyfills-es2015.js' type='module')
script(src='/ngmap/runtime-es5.js' nomodule='')
script(src='/ngmap/polyfills-es5.js' nomodule='')
script(src='/ngmap/styles-es2015.js' type='module')
script(src='/ngmap/styles-es5.js' nomodule='')
script(src='/ngmap/vendor-es2015.js' type='module')
script(src='/ngmap/main-es2015.js' type='module')
script(src='/ngmap/vendor-es5.js' nomodule='')
script(src='/ngmap/main-es5.js' nomodule='')