header.rotor(ng-controller="FrontRotorController" ng-model="rdata", ng-init="rdata={stop:0,next:1,now:0,how_many:"+slides.length+"};initRotor()")
    .rotor-screen
        .shadow-over
        each sl,i in slides
            if i==0
                .slide(class="slide-"+i+" active" id="slideId"+i)
                    style(type="text/css").
                        #slideId#{i}{
                            background:url(#{sl.image}) top center no-repeat;
                            background-size:cover;
                        }
            else
                .slide(class="slide-"+i id="slideId"+i)
                    style(type="text/css").
                        #slideId#{i}{
                            background:url(#{sl.image}) top center no-repeat;
                            background-size:cover;
                        }
        each sl,i in slides
            if i==0
                h2.title-big(class="title-big-"+i+" active") #{sl.title}
                h3.title-small(class="title-small-"+i+" active") #{sl.subTitle}
                a.btn-link(href=sl.link class="btn-link-"+i+" active" target=sl.target) 
                    span #{sl.linkTitle}
            else
                h2.title-big(class="title-big-"+i) #{sl.title}
                h3.title-small(class="title-small-"+i) #{sl.subTitle}
                a.btn-link(href=sl.link class="btn-link-"+i target=sl.target) 
                    span #{sl.linkTitle}
       
        .r-btns
            each sl,i in slides
                if i==0
                    a(href="#" class="r-bt r-bt-"+i+" active" ng-click="$event.preventDefault();changeSlideByButton("+i+")")
                else
                    a(href="#" class="r-bt r-bt-"+i ng-click="$event.preventDefault();changeSlideByButton("+i+")")
            