extends ../layouts/layout.pug

block header
    header.catalog-name.page-h(class='event-t-'+link.eventsType)
        .image-bg
        .title-txt
            h2 #{catalog.name}
            h3 #{link.title}
        .shadow-bg    
    include ../partials/submenu.pug
    

block content
    section.events-filters
        .container-one
            .row
                .col-filters(class="color-"+link.eventsType)
                    .label-filters filtruj:
                    .beam-filters
                        a(href=path+"?all" class=(all)?"active":"") wszystkie 
                        a(href=path class=(all)?"":"active") dostępne
    .double-container
        .row
            .col-left-double                    
                section.events-organize
                    .container
                        .row
                            .col-stock
                                each ev in events
                                    +date_avl_class_string(ev.startAt,moment,ev.eventSezonType)
                                        //- .col-title
                                        //-         h2.event-name-top  #{ev.name}
                                        .event-top
                                            .image-col 
                                                img(src=ev.image class="img-fluid")
                                            .data-col
                                                .event-content
                                                    h2.event-name  #{ev.name}
                                                    .date-area
                                                        span.days-count #{ev.daysTotal} dni
                                                        +date_area_string(ev.startAt,ev.endAt,moment)
                                                    .info-no-avl
                                                        span.event-end oferta niedostępna
                                                    if ev.status=='noavl'
                                                        .info-full-persons
                                                            span.event-full aktulanie brak miejsc  
                                                    .desc #{ev.smallDesc}
                                                    .region-row
                                                        .region-label
                                                            | Region:
                                                        .regions
                                                            each r in ev.Regions
                                                                span.region-badge #{r.name}
                                                    
                                                    .ages-row
                                                        .ages-label
                                                            | Wiek:
                                                        .ages
                                                            each a in ev.Ages
                                                                span.age-badge #{a.from} - #{a.to}
                                                .price-data
                                                    span.price-span #{ev.priceBrutto} 
                                                        small.sufix-p zł/os            
                                        .event-bottom     
                                            .catalog-number
                                                .number-c
                                                    span.label-nr numer katalogowy:
                                                    span.catalog-badge #{ev.number}
                                            .more-event
                                                a(href="/"+catalog.alias+'/'+ev.alias) szczegóły oferty 
            .col-right-double
                .right-content-db
                    include ../partials/partners.pug                                            
block footer
        include ../partials/contact-section.pug