doctype html
html()
    head
        meta(charset="UTF-8")
        title Wirtur
    body
        table(style='width: 600px;' cellpadding='0' cellspacing='0')
            tr
                td(style='border-bottom:1px solid #E855B7;border-right:1px solid #E855B7;') Imię
                td(style='border-bottom:1px solid #E855B7;') #{name}
            tr
                td(style='border-bottom:1px solid #E855B7;border-right:1px solid #E855B7;') Email
                td(style='border-bottom:1px solid #E855B7;') #{email}
            tr
                td(style='border-bottom:1px solid #E855B7;border-right:1px solid #E855B7;') Tel
                td(style='border-bottom:1px solid #E855B7;') #{phone}
            tr
                td(style='border-bottom:1px solid #E855B7;border-right:1px solid #E855B7;') Nr katalogowy
                td(style='border-bottom:1px solid #E855B7;') #{number}    
            tr
                td(style='border-bottom:1px solid #E855B7;border-right:1px solid #E855B7;') Treść
                td(style='border-bottom:1px solid #E855B7;') #{description}       
            